 @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
}

p {

    margin: 0px;



}

h2 {

    padding-top: 15px;
}

hr {

   background: black;
   height: 1px;
   width: 50%;

}


/* Header */

.nav-colour {

  background-color: #177038;

}

.navbar {

 height: 60px;

}

/* Footer */


.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 190%;
  margin-left: 25px; 
  margin-right: 25px;
  color: white;
  margin-top: 20px;
 
}

.container-fluid-bg-footer {

    background: #177038;
    height: 210px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 20px;

}

.email {

   color: white;
   margin-bottom: 10px;


}

/* Images First Page */


.jumbotron-1 {

    background: url("../images/scoutsbanner.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;

}



.jumbotron-2 {

    background: url("../images/mael-balland-KqbPQzD2R5o-unsplash.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;

}


/* First page Scouting text */

.what-is-scouting {

   color: black;
   margin-bottom: 50px;
   margin-top: 50px;

}

/* First page Scouting Video */

.iframe-container{

  width: 100%;
  height: 600px;
  margin-bottom: 30px;

}
.iframe-container iframe{

  width: 100%;
  height: 100%;
}

/* Second page Events */

.container-fluid-bg-upcoming-events {

    height: 230px;
    text-align: center;
    background-image: url("../images/winningscouts.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

}

.upcoming-events-col {

    height: 228px;
    background: rgba(133, 233, 131, 0.9);
    padding-top: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
    overflow: auto;
    

}

h4 {

    color: white;
}


/* Second page Image */

.jumbotron-3 {

    background: url("../images/Palace.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;

}

}

/* Third page hr */

.page3hr {

    border: 1px solid #747373;
    width: 100%;

}

/* Page 3 Events */

.page3-description1-col {

    height: 300px;
    background: #177038;
    padding-top: 10px;
    overflow: auto;
    border: 1px solid white;

}

/* Links */

a {

  margin-bottom: 10px;

}

/* Event cards */

.card_1 {
    background-color:  rgba(133, 233, 131, 0.9);
    border: 1px;
    margin: 1px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.card-title {

text-align: center;
margin: 10px;

}

.card-text {

    color: white;
    margin: 10px;
    text-align: center;
}

.card-block {

    margin: 15px;
    align-items: center;

}

/* Upcoming Events title */

.container-fluid-bg-page-2-title {

    text-align: center;
    margin-bottom: 25px;
}