@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

*{
  margin: 0;
  padding: 0;
  border: 0;
}

p {

    margin: 0px;
    color: white;

}

h3 {

    color: white;
    padding-top: 5px;
}

/* Header */

.container-fluid-bg {
    background: #177038;
    height: 80px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  padding-top: 15px;
}

#logo {
  text-align: center;
  font-size: 280%;
  margin-left: 30px;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 4px;
}

#menu li {
  float: right;
  margin-right: 30px;

}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #777777;
}

.active {
  border-bottom: 1px solid #777777;
}

/* Footer */


.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin-left: 15px; 
  margin-right: 15px;
  color: white;
  padding-top: 10px; 
}

.container-fluid-bg-footer {

    background: #177038;
    height: 170px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;

}

/* Image First Page */

.container-fluid-bg-scoutspalace {

height: 300px;

}

.my-col {

    border: 2px solid black;
}

/* First page Scouting text */

.container-fluid-bg-scouting {

    height: 300px;
    text-align: center;

}

.page1-description1-col {

    height: 300px;
    background: #177038;
    padding-top: 10px;


}

hr {

border: 1px solid white;

}